* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #FFFFFF;
    font-family: Helvetica, sans-serif;
    min-height: 100vh;
    background: url(../images/mac-bg.jpg) no-repeat center/cover;
    overflow: hidden;
}

.safari {
    width: 80%;
    height: 80%;
    background: #38393A;
    border-radius: 0.8em;
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 9;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(7, 7, 7, 1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(7, 7, 7, 1);
    box-shadow: 0px 0px 10px 0px rgba(7, 7, 7, 1);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/background.jpg) no-repeat center/cover;
}

.toolbar {
    width: 100%;
    height: 50px;
    padding: 0 25px;
    background: #191C1F;
    border-top-left-radius: 0.8em;
    border-top-right-radius: 0.8em;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: grab;
}

.toolbar:active {
    cursor: grabbing;
}

.toolbar .controls {
    display: flex;
    align-items: center;
}

.toolbar .controls a {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    text-decoration: none;
    margin-right: 10px;
}

.toolbar .close {
    background: #EE6A5F;
    border: 1px solid #CE5347;
}

.toolbar .minimize {
    background: #F5BD4F;
    border: 1px solid #D6A243;
}

.toolbar .fullscreen {
    background: #61C454;
    border: 1px solid #58A942;
}

.domain {
    width: 50%;
    height: 26px;
    padding: 0 10px;
    border-radius: 6px;
    background: #0C0F12;
    color: #FFFFFF;
    font-size: .9em;
    border: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: text;
}

.tools {
    padding-left: 10px;
}

@media (max-width: 600px) {
    .domain {
        width: 100%;
        font-size: .8em;
    }
}

.content {
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    justify-content: center;
    padding-top: 5em;
    white-space: pre-line;
    overflow: auto;
}

.content .container {
    width: 80%;
}

.description {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 20%;
    text-align: center;
}

.profile h2 {
    margin: 1em 0;
}

.profile h1, .profile h3 {
    margin-bottom: 1em;
}

.profile-image {
    width: 15em;
    height: 15em;
    min-width: 15em;
    min-height: 15em;
    border-radius: 50%;
    background: url(../images/perfil.jpeg) no-repeat top/cover;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(7, 7, 7, 1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(7, 7, 7, 1);
    box-shadow: 0px 0px 10px 0px rgba(7, 7, 7, 1);
    border: .1em solid #212121;
}

.skills ul {
    width: 80%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.skills ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 120px;
    height: 120px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #FFFFFF;
    background: #000000;
}

.skills ul li:hover {
    background: #212121;
}

.skills ul li i {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    font-size: 4em;
}

.ico-java {
    width: 1em;
    height: 1em;
    background: url(../images/java-icon.svg) no-repeat center;
}

.ico-postgresql {
    width: 1em;
    height: 1em;
    background: url(../images/postgresql-icon.svg) no-repeat center;
}

.ico-mysql {
    width: 1em;
    height: 1em;
    background: url(../images/mysql-icon.svg) no-repeat center;
}

.bxl-html5 {
    color: #e34c26;
}

.bxl-css3 {
    color: #264de4;
}

.bxl-sass {
    color: #cc6699;
}

.bxl-javascript {
    color: #e8c012;
}

.bxl-react {
    color: #61dafb;
}

.bxl-git {
    color: #f34f29;
}

.bxl-github {
    color: #FFFFFF;
}

.bxl-nodejs {
    color: #3c873a;
}

/* Scrollbar */

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: #38393A;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555;
}